.clock-form--input{
    &:focus{
      border: none;
      outline: none;
    }
    border-radius: 2px;
    border: 0;
    background-color: #ddd;
    height: 3em;
  }
  .clock{
    margin: 1.5em;
  }
  @media (min-width: 320px) {

  }
