<div class="clock" >
  <form
  action=""
  class="clock-form"
  [formGroup]="clockForm"
  (ngSubmit)="startCounting()">
    <label for="fMinutes">Firts interval </label>
    <br>
    <input
    type="number"
    min="0"
    name="fMinutes"
    formControlName="fMinutes"
    id=""
    class="clock-form--input">
    :
    <input
    type="number" min="0" max="59"
    formControlName="fSeconds"
    id=""
    class="clock-form--input">
    <br>
    <label for="sMinutes">Second Interval</label>
    <br>
    <input
    type="number" min="0"
    name="sMinutes"
    formControlName="sMinutes"
    id=""
    class="clock-form--input">
    :
    <input
    type="number" min="0" max="59"
    formControlName="sSeconds"
    id=""
    class="clock-form--input">
    <br>
    <label for="nCycles">Number of Cycle</label>
    <br>
    <input
    type="number"
    formControlName="cycles"
    name="nCycles" min="1"
    class="clock-form--input">
    <br>
    <input [disabled]="clockForm.invalid" type="submit" value="submit">

  </form>
  <img *ngIf="clockForm.invalid"  style="width: 10em;" src="../../../assets/patheticCat.bmp" alt="">
  <p>{{ minutes }}:{{ seconds }}</p>
  <p>{{errorMessage}}</p>
</div>
