.header{
  background: #ff9a8a;
  height: 80px;
  text-align: center;
  padding-top: 25px;
  color: #eee;
  font-family: 'Roboto', sans-serif;

}
.header-innertext{
  display:inline-block;
  width: 100%;
}
